<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scholarshipmanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScholarshipManagementSystem">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TypeOfScholarship" />
        <activity android:name=".InternalScholarships" />
        <activity android:name=".ExternalScholarships" />
        <activity android:name=".HandogKaibigan" />
        <activity android:name=".StudentAssistance" />
        <activity android:name=".PHINMAScholarship" />
        <activity android:name=".Tertiary_Education_Subsidy" />
        <activity android:name=".CommisionOnHigherEducation" />
        <activity android:name=".EducationalDiscountForGovermentEmployees" />
        <activity android:name=".ApplicationForm" />
        <activity android:name=".DoneTab" />
        <activity android:name=".Feedback" />
    </application>

</manifest>